.categoriasContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: "Roboto";
    background-color: var(--color-3);
}

.categoriasContainer h2{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.categoriasCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: "Roboto";
    margin-bottom: 20px;
    margin-right: 10px;
}

.categoriasCard{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: "Roboto";
    background-color: var(--color-6);
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.categoriasImg{
    width: 355px;
    height: 300px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.categoriasCard p{
    color: var(--color-7);
    margin-left: 10px;
    padding-bottom: 10px;
}

@media (max-width: 768px) {
    .categoriasCard {
        display: flex;
        width: 45%;
    }
        
    .categoriasImg{
        max-width: 100%;
        max-height: 100%;
    }
    .categoriasContainer { 
        padding : 0;
    }
}

@media (max-width: 414px) {
    .categoriasCard{
        display: block;
        font-family: "Roboto";
        margin-right: 0px;
    }
    .categoriasImg{
        max-width: 100%;
        max-height: 100%;
    }
    .categoriasContainer { 
        padding : 0;
    }
}