.formReservaContainer {
    width:              100%;
}
.formReservaContainer h1 {
    color:              var(--pi-sys-light-on-surface, #212121);
    font-size:          22px;
    font-family:        'Overpass', sans-serif;
    line-height:        28px;
    padding:            40px 0 24px;
}
.form {
    display:            flex;
    flex-direction:     column;
    background-color:   aliceblue;
}
.formReserva {
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 1px solid;
}
.reservaLabel {
    font-size: 16px;
    margin-bottom: 0.2em;
    line-height: 14px;
    opacity: 0.8;
}

.reservaTxt {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background-color: #F8F9FA;
    border: none;
    outline: 0;
    transition: all 0.6s;
}

@media (max-width: 768px) {
    .formReservaContainer {
        width: 100%;
        padding: 20px;
    }
}

@media (max-width: 414px) {
    .formReservaContainer {
        width: 100%;
        padding: 20px;
    }
    .form{
        display: block;
    }
}