/* Coolors Exported Palette - https://coolors.co/bcd2ee-9b7ede-832161-52050a-76e7cd */

/* CSS HEX */
--columbia-blue: #bcd2eeff;
--tropical-indigo: #9b7edeff;
--byzantium: #832161ff;
--chocolate-cosmos: #52050aff;
--turquoise: #76e7cdff;

/* CSS HSL */
--columbia-blue: hsla(214, 60%, 84%, 1);
--tropical-indigo: hsla(258, 59%, 68%, 1);
--byzantium: hsla(321, 60%, 32%, 1);
--chocolate-cosmos: hsla(356, 89%, 17%, 1);
--turquoise: hsla(166, 70%, 68%, 1);

/* SCSS HEX */
$columbia-blue: #bcd2eeff;
$tropical-indigo: #9b7edeff;
$byzantium: #832161ff;
$chocolate-cosmos: #52050aff;
$turquoise: #76e7cdff;

/* SCSS HSL */
$columbia-blue: hsla(214, 60%, 84%, 1);
$tropical-indigo: hsla(258, 59%, 68%, 1);
$byzantium: hsla(321, 60%, 32%, 1);
$chocolate-cosmos: hsla(356, 89%, 17%, 1);
$turquoise: hsla(166, 70%, 68%, 1);

/* SCSS RGB */
$columbia-blue: rgba(188, 210, 238, 1);
$tropical-indigo: rgba(155, 126, 222, 1);
$byzantium: rgba(131, 33, 97, 1);
$chocolate-cosmos: rgba(82, 5, 10, 1);
$turquoise: rgba(118, 231, 205, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #bcd2eeff, #9b7edeff, #832161ff, #52050aff, #76e7cdff);
$gradient-right: linear-gradient(90deg, #bcd2eeff, #9b7edeff, #832161ff, #52050aff, #76e7cdff);
$gradient-bottom: linear-gradient(180deg, #bcd2eeff, #9b7edeff, #832161ff, #52050aff, #76e7cdff);
$gradient-left: linear-gradient(270deg, #bcd2eeff, #9b7edeff, #832161ff, #52050aff, #76e7cdff);
$gradient-top-right: linear-gradient(45deg, #bcd2eeff, #9b7edeff, #832161ff, #52050aff, #76e7cdff);
$gradient-bottom-right: linear-gradient(135deg, #bcd2eeff, #9b7edeff, #832161ff, #52050aff, #76e7cdff);
$gradient-top-left: linear-gradient(225deg, #bcd2eeff, #9b7edeff, #832161ff, #52050aff, #76e7cdff);
$gradient-bottom-left: linear-gradient(315deg, #bcd2eeff, #9b7edeff, #832161ff, #52050aff, #76e7cdff);
$gradient-radial: radial-gradient(#bcd2eeff, #9b7edeff, #832161ff, #52050aff, #76e7cdff);