/* Coolors Exported Palette - https://coolors.co/f3e1c3-d1b994-68935d-3a2a1c-e06178 */

/* CSS HEX */
--champagne: #f3e1c3ff;
--tan: #d1b994ff;
--asparagus: #68935dff;
--bistre: #3a2a1cff;
--blush: #e06178ff;

/* CSS HSL */
--champagne: hsla(38, 67%, 86%, 1);
--tan: hsla(36, 40%, 70%, 1);
--asparagus: hsla(108, 22%, 47%, 1);
--bistre: hsla(28, 35%, 17%, 1);
--blush: hsla(349, 67%, 63%, 1);

/* SCSS HEX */
$champagne: #f3e1c3ff;
$tan: #d1b994ff;
$asparagus: #68935dff;
$bistre: #3a2a1cff;
$blush: #e06178ff;

/* SCSS HSL */
$champagne: hsla(38, 67%, 86%, 1);
$tan: hsla(36, 40%, 70%, 1);
$asparagus: hsla(108, 22%, 47%, 1);
$bistre: hsla(28, 35%, 17%, 1);
$blush: hsla(349, 67%, 63%, 1);

/* SCSS RGB */
$champagne: rgba(243, 225, 195, 1);
$tan: rgba(209, 185, 148, 1);
$asparagus: rgba(104, 147, 93, 1);
$bistre: rgba(58, 42, 28, 1);
$blush: rgba(224, 97, 120, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #f3e1c3ff, #d1b994ff, #68935dff, #3a2a1cff, #e06178ff);
$gradient-right: linear-gradient(90deg, #f3e1c3ff, #d1b994ff, #68935dff, #3a2a1cff, #e06178ff);
$gradient-bottom: linear-gradient(180deg, #f3e1c3ff, #d1b994ff, #68935dff, #3a2a1cff, #e06178ff);
$gradient-left: linear-gradient(270deg, #f3e1c3ff, #d1b994ff, #68935dff, #3a2a1cff, #e06178ff);
$gradient-top-right: linear-gradient(45deg, #f3e1c3ff, #d1b994ff, #68935dff, #3a2a1cff, #e06178ff);
$gradient-bottom-right: linear-gradient(135deg, #f3e1c3ff, #d1b994ff, #68935dff, #3a2a1cff, #e06178ff);
$gradient-top-left: linear-gradient(225deg, #f3e1c3ff, #d1b994ff, #68935dff, #3a2a1cff, #e06178ff);
$gradient-bottom-left: linear-gradient(315deg, #f3e1c3ff, #d1b994ff, #68935dff, #3a2a1cff, #e06178ff);
$gradient-radial: radial-gradient(#f3e1c3ff, #d1b994ff, #68935dff, #3a2a1cff, #e06178ff);