/* Coolors Exported Palette - https://coolors.co/54469c-569a97-eadbd2-dea677-d0585d */

/* CSS HEX */
--ultra-violet: #54469cff;
--dark-cyan: #569a97ff;
--champagne-pink: #eadbd2ff;
--buff: #dea677ff;
--indian-red: #d0585dff;

/* CSS HSL */
--ultra-violet: hsla(250, 38%, 44%, 1);
--dark-cyan: hsla(177, 28%, 47%, 1);
--champagne-pink: hsla(22, 36%, 87%, 1);
--buff: hsla(27, 61%, 67%, 1);
--indian-red: hsla(357, 56%, 58%, 1);

/* SCSS HEX */
$ultra-violet: #54469cff;
$dark-cyan: #569a97ff;
$champagne-pink: #eadbd2ff;
$buff: #dea677ff;
$indian-red: #d0585dff;

/* SCSS HSL */
$ultra-violet: hsla(250, 38%, 44%, 1);
$dark-cyan: hsla(177, 28%, 47%, 1);
$champagne-pink: hsla(22, 36%, 87%, 1);
$buff: hsla(27, 61%, 67%, 1);
$indian-red: hsla(357, 56%, 58%, 1);

/* SCSS RGB */
$ultra-violet: rgba(84, 70, 156, 1);
$dark-cyan: rgba(86, 154, 151, 1);
$champagne-pink: rgba(234, 219, 210, 1);
$buff: rgba(222, 166, 119, 1);
$indian-red: rgba(208, 88, 93, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #54469cff, #569a97ff, #eadbd2ff, #dea677ff, #d0585dff);
$gradient-right: linear-gradient(90deg, #54469cff, #569a97ff, #eadbd2ff, #dea677ff, #d0585dff);
$gradient-bottom: linear-gradient(180deg, #54469cff, #569a97ff, #eadbd2ff, #dea677ff, #d0585dff);
$gradient-left: linear-gradient(270deg, #54469cff, #569a97ff, #eadbd2ff, #dea677ff, #d0585dff);
$gradient-top-right: linear-gradient(45deg, #54469cff, #569a97ff, #eadbd2ff, #dea677ff, #d0585dff);
$gradient-bottom-right: linear-gradient(135deg, #54469cff, #569a97ff, #eadbd2ff, #dea677ff, #d0585dff);
$gradient-top-left: linear-gradient(225deg, #54469cff, #569a97ff, #eadbd2ff, #dea677ff, #d0585dff);
$gradient-bottom-left: linear-gradient(315deg, #54469cff, #569a97ff, #eadbd2ff, #dea677ff, #d0585dff);
$gradient-radial: radial-gradient(#54469cff, #569a97ff, #eadbd2ff, #dea677ff, #d0585dff);