.bodyContainer{
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
    background-color: var(--color-3);
    z-index: 5;
    padding-bottom: 58px;
}

.bodyContainer h2{
    margin-left: 10px;
    margin-top: 10px;
}

.bodyCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}