.bodyContainer{
    display:            flex;
    flex-direction:     column;
    background-color:   var(--color-3);
    /*z-index: 5;*/
}


.bodyCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px;
}