.categContainer1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: "Roboto";
    background-color: var(--color-3);
    height: calc(100vh - 58px - 80px);
    align-items: center;
}

.categContainer2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: "Roboto";
    background-color: var(--color-3);
    padding-bottom: 68px;
    align-items: center;
}

.categCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.categTitulo{
    justify-content: center;
    margin-left: 10px;
}



@media(min-width: 498px) {
    .categContainer1{
        height: calc(100vh - 58px - 80px);
    }
}