.buscadorContainer{
    display:            flex;
    flex-direction:     column;
    align-items:        center;
    padding:            30px;
    gap:                16px;
    background-color:   white; /*TODO*/
}

.buscadorTitle {
    font-family:        'Overpass', sans-serif;
    font-style:         normal;
    font-weight:        400;
    font-size:          22px;
    line-height:        28px;
    color:              #212121; /*TODO*/
}

.buscadorInputs{
    display:            flex;
    align-items:        center;
    justify-content:    center;
    width:              100%;
    z-index: 1;
}

.buscadorTxt {
    width:              100%;
    height:             42px;
    border-radius:      6px;
    border-color:       #ccc;
    font-size:          16px;
    outline:            0;
}

.buscadorTxt[type=text] {
    padding-left:       14px;
}

.buscadorTxt::placeholder,
.buscadorTxt::-webkit-input-placeholder,
.buscadorTxt span {
    color:              rgb(142, 142, 147);
    font-size:          16px;
    font-family:        'Roboto', sans-serif;
    line-height:        24px;
    letter-spacing:     0.5px;}


.buscadorTxt:nth-child(1) {
    border:             0.8px solid #ccc;
}

.buscadorLocal {
    position:           relative;
    width:              100%;
}

.buscadorLocal > span {
    position:           absolute;
    top:                12px;
    right:              12px;
    opacity:            0.7;
}

.buscadorTxt:nth-child(1):focus,
.buscadorTxt:nth-child(1):hover {
    border:             1px solid rgb(82, 150, 247);
}

.buscadorBtn {
    display:            flex;
    flex-direction:     row;
    align-items:        center;
    justify-content:    center;
    gap:                6px;
    height:             40px;
    background-color:   var(--color-10); /*TODO*/
    border-radius:      100px;
    border:             none;
    color:              var(--pi-sys-light-on-primary, #FFF);

    font-size:          16px;
    font-family:        'Roboto', sans-serif;
    font-weight:        500;
    line-height:        24px;
    letter-spacing:     0.5px;
}

.buscadorBtn:hover {
    box-shadow:         0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    transition:         all 0.2s;
}

.filter {
    position:           absolute;
    top:                calc(100% - 10px);
    left:               10px;
    width:              310px;
    max-height:         200px;
    overflow-y:         auto;
    border:             1px solid var(--color-10);
    border-top:         none;
    border-radius:      0 0 4px 4px;
    padding:            0;
    margin:             0;
    list-style:         none;
    box-shadow:         0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.filter li {
    padding:            10px;
    cursor:             pointer;
    background-color:   var(--color-11);
}
  
.filter li:hover {
    background-color:   var(--color-8);
}

.nome {
    font-weight:        bold;
}

.pais {
    margin-left:        18px;
    line-height:        0px;
}

/*
.buscadorCalendar{
    z-index:            1;
}*/

@media (max-width: 414px) {
    .buscadorContainer {
        padding:        30px 20px;
    }
    .buscadorInputs{
        flex-direction: column;
        gap:            12px;
    }
    
    .buscadorTxt, .buscadorBtn, .buscadorInputs{
        width: 100%;
    }
}

@media (min-width:415px) and (max-width: 740px){
    .buscadorContainer {
        padding:        30px 20px;
    }
    .buscadorInputs{
        flex-direction: column;
        gap:            12px;
    }
    
    .buscadorTxt, .buscadorBtn, .buscadorInputs{
        width: 100%;
    }

}

@media (min-width:741px) and (max-width: 1279px) {
    .buscadorContainer {
        padding:        30px 32px;
    }
    .buscadorInputs {
        flex-direction: row;
        gap:            20px;
    }
    .buscadorLocal,
    .buscadorTxt {
        width:          242px;
    }
    .buscadorBtn {
        width:          155px;
    }
}

@media(min-width: 1280px) {
    .buscadorContainer {
        padding:        30px 150px;
    }
    .buscadorInputs {
        flex-direction: row;
        gap:            20px;
    }
    .buscadorLocal,
    .buscadorTxt {
        width:          314px;
    }
    .buscadorBtn {
        width:          147px;
    }
}

/*
@media(max-width: 414px) {
    .filter {
        top: calc(100% - 130px);
        z-index: 20;
        width: 95%;
        left: 5%;
        background-color: var(--color-8);
    }

    .buscadorContainer{
        width: 100%;
    }

    .buscadorTxt, .buscadorBtn, .buscadorInputs {
        width: 90%;
        margin-left: 5%;
    }

    .buscadorContainer h1{
        font-size: 25px;
    }
}

@media(max-width: 1044px) {
    .buscadorContainer{
        width: 100%;
    }

    .filter {
        top: calc(100% - 130px);
        z-index: 20;
        width: 90%;
        left: 5%;
        background-color: var(--color-8);
    }

    .buscadorTxt, .buscadorBtn {
        width: 90%;
        margin-left: 5%;
    }

    .buscadorContainer h1{
        font-size: 22px;
    }
}*/