.buscadorContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: "Roboto";
    align-items: center;
    background-color: var(--color-2);
    padding-top: 10px;
    padding-bottom: 10px;
}

.buscadorInputs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.buscadorTxt{
    width: 250px;
    height: 42px;
    margin: 10px;
    border-radius: 5px;
    z-index: 15;
}

.buscadorBtn{
    width: 150px;
    height: 40px;
    margin: 10px;
    background-color: var(--color-4);
    border-radius: 5px;
    border-color: var(--color-4);
    color: white;
    box-shadow: 1px 1px 2px grey;
}

@media(max-width: 414px) {
    .buscadorContainer, .buscadorTxt, .buscadorBtn {
        width: 100%;
    }
}