.imgContainer{
    z-index:5;
    background-color: var(--color-3);
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;

}