@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@500&family=Roboto:wght@400;500&display=swap');

.reservaContainer {
    padding: 40px;
    font-family: 'Overpass', sans-serif;
}

.reservaContainer h1 {
    font-style: normal;
    font-weight: 400;
}

.reservaTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.reservaContainer h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
}

.reservaContainer h4 {
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: #757575;
}

.reservaContainer h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.cardsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
}
  
.cardContainer {
    border: 1px solid #CAC4D0;
    border-radius: 12px;
    width: 25%;
    max-height: 400px;
    padding: 20px;
    box-shadow: 5px 5px 8px #888888;
}

.cardImage {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
    margin-top: 10px;
    border-radius: 8px;
}

.cardData p {
    display: flex;
    text-transform: uppercase;
    justify-content: flex-end;
    margin-bottom: 10px;
    background-color: rgba(85, 129, 251, 0.5);
    padding: 10px;
    color: #FFF;
    border-radius: 8px;
}

@media (min-width: 768px) {

}

@media (max-width: 414px) {
    .cardsContainer {
        width: 100%;
    }
    .cardContainer {
        width: 100%;
    }
    .cardImage {
        max-height: 100px;
    }
    .reservaTitle {
        display: flex;
        flex-direction: column;
    }
    .reservaTitle h1 {
        font-size: 26px;
    }
    
}