@import url(https://fonts.googleapis.com/css?family=Roboto);
@import "rsuite/dist/rsuite.css";
@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200";
@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');
@import url("react-widgets/styles.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary:        #5581FB;
    --color-primaryVar1:    rgb(234, 240, 252);
    --color-primaryVar2:    rgb(201,230,253);
    --color-onPrimary:      white;
    --color-secondary:      rgb(34,34,34);
    --color-onSecondary:    white;
    --color-inputs:         #F8F9FA;
    --color-text:           #757575;
    --color-error:          #FFDAD6;
    --color-onError:        #B3261E;

    --elevation1:           0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);

    /*Carrossel de categorias*/
    --swiper-navigation-size: 24px;
    --swiper-navigation-top-offset: 40%;
    --swiper-navigation-sides-offset: 10px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.sticky-top{
    position: sticky;
    top: 0;
    width: 100%;
    z-index:5;
}

/*
.sticky-buscador{
    position: sticky;
    top: 80px;
    width: 100%;
    z-index: 10;
}
*/

.link{
    text-decoration: none;
}

button{
    font-size: 16px;
}

/*
h1{
    color: black;
    font-size: 35px;
}
*/

h2{
    font-size: 25px;
    color: var(--color-secondary);
}

h3{
    font-size: 20px;
    color: var(--color-secondary);
}

.container{
    position:relative;
}

.App{
    height:100%;
    position:relative;
}

@media (max-width: 414px) {
    .sticky-buscador {
        position: relative;
        top: 0;
    }
}

@media (max-width: 768px) {
    .sticky-buscador {
        position: relative;
        top: 0;
    }
}

@media (max-width: 1044px) {
    .sticky-buscador {
        z-index: 1;
    }
}