@import url(https://fonts.googleapis.com/css?family=Roboto);
@import "rsuite/dist/rsuite.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-1: black;
    --color-2: #fc9049;
    --color-3: white;
    --color-4: #ff7c00;
    --color-5: black;
    --color-6: #FFFFFF;
    --color-7: rgb(80, 78, 78);
}

.sticky-top{
    position: sticky;
    top: 0;
    width: 100%;
    z-index:10;
}

.sticky-buscador{
    position: sticky;
    top: 60px;
    width: 100%;
    z-index:10;
}

.sticky-bottom {
    bottom:0;
    width: 100%;
    z-index:10;
}

.link{
    text-decoration: none;
}

button{
    font-size: 16px;
}

h1{
    color: black;
    font-size: 35px;
}

h2{
    font-size: 25px;
    color: black;
}

h3{
    font-size: 20px;
    color: black;
}

.container{
    position:relative;
}

.App{
    height:100%;
    position:relative;
}

.star {
    font-size: x-large;
    width: 20px;
    display: inline-block;
    color: gray;
}
.star:last-child {
    margin-right: 0;
}
.star:before {
    content:'\2605';
}
.star.on {
    color: var(--color-4);
}
.star.half:after {
    content:'\2605';
    color: var(--color-4);
    position: absolute;
    margin-left: -20px;
    width: 10px;
    overflow: hidden;
}

@media (max-width: 414px) {
    .sticky-buscador {
        z-index: 9;
        position: relative;
        top: 0;
    }
}

@media (max-width: 768px) {
    .sticky-buscador {
        z-index: 9;
        position: relative;
        top: 0;
    }
}