@import url(https://fonts.googleapis.com/css?family=Roboto);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-1: #54469C;
    --color-2: #569A97;
    --color-3: #EADBD2;
    --color-4: #DEA677;
    --color-5: #D0585D;
    --color-6: #FFFFFF;
    --color-7: rgb(80, 78, 78);
}

.sticky-top{
    position: sticky;
    top: 0;
    width: 100%;
    z-index:10;
}

.sticky-buscador{
    position: sticky;
    top: 60px;
    width: 100%;
    z-index:10;
}

.sticky-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index:10;
}

.link{
    text-decoration: none;
}

button{
    font-size: 16px;
}