.accountContainer{
    z-index:5;
    background-color: var(--color-3);
    height: fit-content;
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
    align-items: center;
}

.accountTitle {
    font-size: 24px;
    color: var(--color-1);
    text-align: center;
    margin-bottom: 30px;
}

.accountTxt {
    width: 448px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--color-6);
    border: 1px solid black;
    outline: 0;
    transition: all 0.6s;
}

.accountTxt:focus {
    box-shadow: 0px 1.5px 5px var(--color-1);
    border: 0 none;
    outline: 1px;
} 

.accountTxt[type=text], .accountTxt[type=password], .accountTxt[type=email] {
    padding: 10px;
    box-sizing: border-box;
}

.accountPassword {
    position: relative;
}

.accountPassword span {
    position: absolute;
    top: 12px;
    right: 10px;
    cursor: pointer;
}

.accountPassword span svg {
    width: 18px;
    opacity: 0.8;
}

.accountLabel {
    font-size: 12px;
    margin-bottom: 0.2em;
    line-height: 14px;
    opacity: 0.8;
}

.accountBtn {
    width: 206px;
    height: 40px;
    background-color: var(--color-4);
    color: var(--color-6);
    border-radius: 5px;
    transition: all 0.5s;
    border: none;
}

.accountBtn:hover {
    opacity: 0.8;
}

.accountFloat {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.accountConfirm {
    margin-top: 50px;
    text-align: center;
}

.accountConfirm p {
    font-size: 12px;
    margin-top: 18px;
}

.accountError {
    display: block;
    color: red;
    font-size: 10px;
}

@media (max-width: 768px) {
    .accountTxt, .accountBtn {
        width: 346px;
    }
}

@media (max-width: 414px) {
    .accountTxt, .accountBtn {
        width: 300px;
    }
}