.reservaContainer {
    display:                flex;
    flex-direction:         column;
    width:                  100%;
}
.reservaContainer h2 {
    color:                  var(--pi-sys-light-on-surface, #212121);
    font-size:              22px;
    font-family:            'Overpass', sans-serif;
    line-height:            28px;
}
.divisor {
    margin:                 10px 16px;
    border:                 0.5px solid lightgray; /*TODO*/
    align-self:             stretch;
}
.innerContainer{
    display:                flex;
    flex-direction:         column;
    align-items:            center;
    background-color:       rgb(233, 240, 253);
    border-radius:          25px;
    padding:                30px 0;
    gap:                    20px;
}
.reservaReserva {
    display:                flex;
    align-items:            center;
    justify-content:        center;
}
.reservaConfirm {
    display:                flex;
    flex-direction:         row;
    align-items:            center;
    justify-content:        space-between;
    width:                  664px;
    margin:                 0 auto;
}
.reservaConfirm p {
    width:                  312.02px;
    color:                  var(--pi-sys-light-on-surface, #212121);
    font-size:              14px;
    font-family:            'Roboto', sans-serif;
    line-height:            20px;
    letter-spacing:         0.25px;
}
.reservaBtn {
    height:                 40px;
    background-color:       var(--color-10); /*TODO*/
    border:                 none;
    border-radius:          25px;
    color:                  white;
    text-align:             center;
    font-size:              14px;
    font-family:            'Roboto', sans-serif;
    font-weight:            500;
    line-height:            20px;
    letter-spacing:         0.1px;
    width:                  312.02px;
}
.reservaBtn:hover {
    box-shadow:             0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
}
@media (max-width: 760px) {
    .reservaContainer {
        padding:            20px;
    }
    .reservaConfirm {
        flex-direction:     column;
        width:              100%;
        align-items:        center;
        justify-content:    center;
        gap: 10px;
    }
}
@media (min-width:761px) and (max-width: 1279px) {
    .reservaContainer {
        padding:            30px 32px;
    }
}
@media(min-width: 1280px) {
    .reservaContainer {
        padding:            30px 150px;
    }
}