.telaReservaContainer {
    background-color: var(--color-11);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.telaReservaContainerEsq{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.telaReservaContainerDir{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.telaReservaDir {
    margin-top: 70px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

.telaReservaContainerDir h1 {
    font-size: 24px;
}

@media(max-width: 414px) {
    .telaReservaContainerEsq {
        width: 100%;
    }
    .telaReservaContainerDir{
        width: 100%;
    }
    .telaReservaDir {
        margin-top: 0px;
    }
}

@media (max-width: 768px) {
    .telaReservaContainerEsq{
        width: 100%;
    }
    .telaReservaContainerDir{
        width: 100%;
    }
}