.telaReservaContainer {
    background-color: var(--color-11);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.telaReservaContainerEsq{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.telaReservaContainerDir{
    width: 40%;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .telaReservaContainerEsq{
        width: 100%;
    }
    .telaReservaContainerDir{
        width: 100%;
    }
}