.navBarContainer
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Roboto";
  background-color: var(--color-6);
  height: 80px;
}

.navBarLogo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.navBarLogo h2{
  color: var(--color-9);
  font-size: 32px;
  line-height: 28px;
  font-family: 'Vina Sans', cursive;
  letter-spacing: 1px;
  margin-left: 20px;
}

.navBarBotoes{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 20px;
}

.navBarIcon {
  height: 60px;
  width: 20px;
  display: flex;
  background-color: var(--color-3); 
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.navBarIcon .icon {
  position: fixed;
  color: white;
  width: 30px;
  height: 30px;
  margin: 32px;
  cursor: pointer;
}

.navBarLogoImg{
  width: 50px;
  height: 45px;
  margin: 15px 10px 10px 10px;
}

.navBarBtn{
  height: 40px;
  width: 150px;
  margin: 5px;
  background-color: var(--color-7);
  border-radius: 20px;
  border-color: var(--color-4);
  color: white;
  box-shadow: 1px 1px 2px grey;
  transition: all 0.6s;
}

.navBarBtn:hover {
  background-color: var(--color-10);
  opacity: 0.8;
}

.navBarBtn:first-child{
  background-color: var(--color-3);
  color: var(--color-5);
  border-color: black;
}

.navBarBtn:first-child:hover {
  background-color: var(--color-10);
  color: white;
  opacity: 0.8;
}

.navBarAvatar{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.navBarAvatar p{
  font-size: 18px;
  color: black;
  margin-left: 20px;
  margin-right: 20px;
}

.navBarAvatarImg{
  width: 40px;
  height: 40px;
}

.hamburguer {
  height: 40px;
  width: 40px;
}

@media (max-width:414px) {
  .navBarBotoes {
    display: none;
  }
  .navBarLogo h2 {
    margin-left: 10px;
  }
}

@media (max-width: 570px) {
  .navBarLogo h2 {
    margin-left: 10px;
  }
}

