.navBarContainer
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Roboto";
  background-color: var(--color-1);
  height: 60px;
}

.navBarLogo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.navBarLogo h2{
  color: black;
}

.navBarBotoes{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.navBarIcon {
  height: 60px;
  width: 20px;
  display: flex;
  background-color: var(--color-1); 
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.navBarIcon .icon {
  position: fixed;
  color: white;
  width: 30px;
  height: 30px;
  margin-top: 32px;
  margin-left: 32px;
  cursor: pointer;
}

.navBarLogoImg{
  width: 50px;
  height: 50px;
  margin: 5px;
}

.navBarBtn{
  height: 40px;
  width: 150px;
  margin: 5px;
  background-color: var(--color-4);
  border-radius: 5px;
  border-color: var(--color-4);
  color: white;
  box-shadow: 1px 1px 2px grey;
}

.hamburguer {
  height: 40px;
  width: 40px;
}

@media (max-width:414px) {
  .navBarBotoes {
    display: none;
  }
}