.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 18px;
  color: var(--color-6);
  background-color: var(--color-9);
  padding: 10px;
  cursor: pointer;
  border-radius: 25px;
  margin: 0 15px 20px;
  transition: all 0.5s;
}

.container:first-child {
  background-color: var(--color-9);
}

.container:hover {
  background-color: var(--color-10);   
}