.horarioContainer {
    display:            flex;
    flex-direction:     column;
    width:              100%;
    background-color: lightpink;

}
.horarioContainer h1 {
    font-size:          24px;
    margin-bottom:      10px;
}
.horario h3 {
    font-size:          16px;
    color:              rebeccapurple;
}
.horario p {
    margin-bottom:      0.2em;
    line-height:        14px;
    opacity:            0.8;
    margin-bottom:      10px;
}
.horario {
    display: flex;
}
.horario select {
    height:             40px;
    border-radius:      4px;
}
.horariosSelect {
    width:              50%;
}

@media (max-width: 768px) {
    .horarioContainer {
        width:          100%;
        padding:        20px;
    }
}

@media (max-width: 414px) {
    .horarioContainer {
        width:          100%;
    }
    .horariosSelect {
        width:          100%;
    }
}