@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@500&family=Roboto:wght@400;500&display=swap');

.cardBuscaContainer{
    display:            flex;
    border:             1px solid #CAC4D0;
    border-radius:      12px;
}

.cardDetalhes{
    display:            flex;
    flex-direction:     column;
    align-items:        center;
    padding:            16px;
    gap:                12px;
}

.cardHeader {
    display:            flex;
    flex-direction:     column;
    align-items:        flex-start;
    padding:            0px;
    gap:                8px;
    height:             100px;
}

.cardSubHeader {
    display:            flex;
    flex-direction:     row;
    justify-content:    space-between;
    align-items:        center;
    width:              318px;
    height:             45px;
}

.cardTitulo {
    display:            flex;
    flex-direction:     column;
    justify-content:    center;
    align-items:        flex-start;
    gap:                5px;
    width:              218px;
    height:             45px;
}

.cardTitulo h2{
    font-family:        'Overpass', sans-serif;
    font-style:         normal;
    font-weight:        500;
    font-size:          16px;
    line-height:        24px;
    display:            flex;
    align-items:        center;
    letter-spacing:     0.15px;
    color:              black; /*TODO*/
    margin:             0;
}

.cardSubHeader h3 {
    font-family:        'Roboto', sans-serif;
    font-style:         normal;
    font-weight:        400;
    font-size:          12px;
    line-height:        16px;
    text-transform:     uppercase;
    color:              #757575; /*TODO*/
}

.cardAvaliacao {
    display:            flex;
    flex-direction:     row;
    justify-content:    center;
    align-items:        center;
    padding:            0px;
    gap:                8px;
}

.cardClassificacao {
    display:            flex;
    flex-direction:     column;
    justify-content:    flex-end;
    align-items:        flex-end;
    font-family:        'Roboto', sans-serif;
    font-style:         normal;
    font-weight:        400;
    font-size:          12px;
    line-height:        16px;
    display:            flex;
    align-items:        center;
    color:              #000000;
}

.cardStarsRate {
    display:            flex;
    flex-direction:     row;
    align-items:        center;
}

.cardNota{
    display:            flex;
    flex-direction:     column;
    justify-content:    center;
    align-items:        center;
    padding:            4px;
    gap:                10px;
    width:              32px;
    height:             32px;
    border:             1px solid #212121;
    border-radius:      50px;
}

.cardNota span {
    width:              21px;
    height:             20px;
    font-family:        'Overpass', sans-serif;
    font-style:         normal;
    font-weight:        500;
    font-size:          14px;
    line-height:        20px;
    display:            flex;
    align-items:        center;
    text-align:         center;
    letter-spacing:     0.1px;
    color:              #212121; /*TODO*/
}

.cardEndereco {
    display:            flex;
    flex-direction:     row;
    align-items:        center;
    justify-content:    center;
    gap:                8px;
    font-family:        'Roboto';
    font-style:         normal;
    font-weight:        400;
    font-size:          12px;
    line-height:        16px;
    color:              black; /*TODO*/
}

.cardEndereco p {
    color:              #757575; /*TODO*/
    margin: 0;;
}

.cardDescricao p {
    display:            flex;
    flex-direction:     column;
    white-space:        normal; 
    overflow:           hidden;
    text-overflow:      ellipsis; 
    width:              318px;
    height:             60px;
    margin:             0px;
    word-wrap:          break-word;
    font-family:        'Roboto', sans-serif;
    font-style:         normal;
    font-weight:        400;
    font-size:          14px;
    line-height:        20px;
    letter-spacing:     0.25px;
    color:              rgb(117, 117, 117); /*TODO*/
}

.cardBtn {
    display:            flex;
    flex-direction:     row;
    justify-content:    flex-end;
    width:              318px;
    height:             40px;
}

.cardBtn button{
    display:            flex;
    flex-direction:     row;
    justify-content:    center;
    align-items:        center;
    gap:                8px;
    height:             40px;
    background:         #5581FB;
    border-radius:      100px;
    padding:            10px 24px;

 
    font-family:        'Roboto';
    font-style:         normal;
    font-weight:        500;
    font-size:          14px;
    line-height:        20px;
    
    letter-spacing:     0.1px;
    color:              #FFFFFF;

}

.cardBtn button:hover{
    opacity:            1;
}

@media (max-width: 414px) {

    .cardBuscaContainer{
        flex-direction: column;
        align-items:    center;
        max-height:     480px;
    }
    
    .cardBuscaImg{
        width:          350px;
        height:         216px;
        object-fit:     cover;
        border-radius:  12px 12px 0px 0px;
    }

}

@media (min-width:415px) and (max-width: 1279px) {

    .cardBuscaContainer{
        flex-direction: column;
        align-items:    center;
    }
    .cardHeader, .cardSubHeader, .cardDescricao p, .cardBtn {
        width: 298px;
    }
    
    .cardBuscaImg{
        width:          330px;
        height:         216px;
        object-fit:     cover;
        border-radius:  12px 12px 0px 0px;
    }
}

@media(min-width: 1280px) {

    .cardBuscaContainer {
        flex-direction: row;
        align-items:    flex-start;
        max-width: 520px;
        height:         fit-content;
        margin: 10px 0px;
    }

    .cardBuscaImg {
        width:          280px;
        height:         264px;
        border-radius:  10px 0px 0px 10px;
    }

    .cardDetalhes {
        align-items:    flex-start;
        padding:        16px;
        gap:            16px;
    }

    .cardHeader, .cardTitulo, .cardSubHeader, .cardEndereco, .cardDescricao p , .cardBtn{
        width:          208px;
    }

    .cardEndereco{
        justify-content:flex-start;       
    }
}