.bodyContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: "Roboto";
    align-items: center;
    height: 1500px;
    background-color: var(--color-3);
}