.footerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Roboto";
    align-items: center;
    background-color: var(--color-4);
    width: 100%;
    height: 58px;
}

.footerRedes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.footerRedesImg{
    width: 25px;
    height: 25px;
    margin: 5px;
}

.footerCopyright{
    margin: 5px;
    color: var(--color-6)
}

@media (max-width: 414px) {
    sticky-bottom {
        width: 414px;
    }
    .footerRedes {
        display: none;
    }
}

@media (max-width: 768px) {
    sticky-bottom {
        width: 768px;
    }
}

@media(max-width: 1366px) {
    sticky-bottom {
        width: 1366px;
    }
}

