.loginContainer {
    display:            flex;
    flex-direction:     column;
    height:             calc(100vh - 46px);
    margin-top:         -80px;
    background-color:   var(--color-primaryVar1);
}
.loginErroRes {
    display:            flex;
    flex-direction:     column;
    align-items:        center;
    gap:                10px;
    padding:            20px;
    background-color:   var(--color-error);
    border-radius:      12px;
    margin-bottom:      50px;
}
.loginErroResMsg {
    color:              var(--color-onError);
    text-align:         center;
    font-size:          14px;
    font-family:        'Roboto', sans-serif;
    line-height:        24px;
    letter-spacing:     0.5px;
}
.loginCentralizar {
    position:           absolute;
    top:                55%;
    left:               50%;
    transform:          translate(-50%,-50%);
    background-color:   white;
    border-radius:      12px;
    padding:            50px 40px;
    box-shadow:         var(--elevation1);
}
.loginTitle {
    color:              var(--color-secondary);
    text-align:         center;
    font-size:          32px;
    font-family:        'Overpass', sans-serif;
    line-height:        40px;
    margin-bottom:      30px;
    font-weight:        400;
}
.loginTxt {
    width:              100%;
    border-radius:      12px;
    background-color:   var(--color-inputs);
    border:             none;
    outline:            0;
    transition:         all 0.2s;
}
.loginTxt,
.loginTxt::placeholder, 
.loginTxt::-webkit-input-placeholder {
    color:              var(--color-text);
    font-size:          16px;
    font-family:        'Roboto', sans-serif;
    line-height:        24px;
    letter-spacing:     0.5px;
}
.loginTxt,
.loginBtn {
    height:             46px;
}
.loginTxt:focus {
    box-shadow:         var(--elevation1);
    transition:         all 0.2s;
} 
.loginPassword {
    position:           relative;
}
.loginPassword span {
    position:           absolute;
    top:                12px;
    right:              14px;
    cursor:             pointer;
}
.loginPassword span svg {
    width:              18px;
    opacity:            0.8;
}
.loginTxt[type=text],
.loginTxt[type=password],
.loginTxt[type=email] {
    padding:            0px 14px;
}
.loginLabel {
    display:            none;
    font-size:          16px;
    margin-bottom:      0.2em;
    line-height:        14px;
    opacity:            0.8;
}
.inputs {
    display:            flex;
    flex-direction:     column;
    gap:                20px;
}
.loginBtn {
    width:              100%;
    background-color:   var(--color-primary);
    border-radius:      25px;
    transition:         all 0.2s;
    border:             none;
    color:              var(--color-onPrimary);
    font-size:          16px;
    font-family:        'Roboto', sans-serif;
    font-weight:        500;
    line-height:        20px;
    letter-spacing:     0.1px;
}
.loginBtn:hover {
    box-shadow:         var(--elevation1);
}
.loginConfirm {
    display:            flex;
    flex-direction:     column;
    text-align:         center;
    gap:                30px;
    padding-top:        20px;
}
.navigate {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.navigate p {
    color:              var(--color-secondary);
    text-align:         center;
    font-size:          14px;
    font-family:        'Roboto', sans-serif;
    line-height:        20px;
    letter-spacing:     0.25px;
    text-decoration:    none;
}
.link {
    color:              var(--color-primary);
    padding:            5px 14px;
    border-radius:      20px;
    text-decoration:    none;
}
.loginConfirm .link {
    text-decoration:    none;
}
.link:hover {
    background-color:   var(--color-primaryVar1);
}
.loginError {
    display:            block;
    color:              var(--color-onError);
    font-size:          12px;
}
@media (max-width: 414px) {
    .loginContainer {
        height:         calc(100vh - 46px);
        margin-top:     -50px;
    }
    .loginCentralizar {
        padding:        50px 10px;
        width:          90%;
    }
}
@media (min-width:415px) and (max-width: 1279px) {
    .loginCentralizar {
        padding:        50px 20px;
        width:          44.5%;
    }
}
@media(min-width: 1280px) {
    .loginCentralizar {
        width:          24.6%;
    }
}